<div class="center hero-unit">
  <h1>Welcome to Daily Weight</h1>

  <h2>
    A simple application for tracking your weight.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>